{% extends 'base.html' %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">welcome to my resume...</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>
                    <p align="justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec
                        pellentesque elit. Curabitur ultrices purus est, scelerisque venenatis ex efficitur at. Nunc eu
                        egestas leo. Curabitur ut odio metus. Orci varius natoque penatibus et magnis dis parturient
                        montes, nascetur ridiculus mus. Phasellus condimentum justo ex, eget molestie lacus accumsan
                        sed. Praesent nec nunc in ligula placerat hendrerit a ac tortor. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Nullam malesuada nisl id erat bibendum, quis dapibus orci ultrices.
                        Duis vitae luctus est, ut egestas sapien. Donec eu arcu vel eros rutrum dictum.<br/><br/>

                        Vivamus at dignissim risus. Mauris vulputate, ligula quis commodo pretium, sem lectus luctus
                        dui, non fermentum eros lectus a tortor. Morbi dictum vitae sapien nec fringilla. Donec lacinia
                        condimentum augue sit amet scelerisque. Praesent dignissim lacinia dignissim. Aliquam vel
                        finibus sem. Vestibulum lectus lorem, imperdiet ac urna non, condimentum mattis mi. Suspendisse
                        id velit suscipit, pellentesque metus ut, consequat mauris. Aenean vulputate lorem sapien, nec
                        aliquam nisi aliquet in. Aenean ut felis feugiat, egestas eros a, facilisis quam.<br/><br/>

                        Vivamus elit metus, laoreet ut augue eu, pellentesque dictum nunc. Quisque finibus porta dui
                        suscipit placerat. Mauris quis urna at mauris fermentum facilisis. Aliquam vitae urna ligula.
                        Morbi bibendum erat id purus vulputate tempor ut eu lectus. Vestibulum vehicula dictum orci.
                        Integer vitae justo sed nibh blandit congue.<br/><br/></p>
                </div>
            </center>

        </div>

    </div>
{% endblock %}