{% extends 'base.html' %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Login</h1>
                <p class="lead fw-normal text-white-50 mb-0">login to your account...</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div style="text-align: center;">
                <div class="col-md-6 offset-md-3">
                    <br/>
                    <br/>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label>
                                <input type="text" class="form-control" name="username"
                                       placeholder="enter your username">
                            </label>
                        </div>
                        <div class="mb-3">
                            <label>
                                <input type="password" class="form-control" name="password"
                                       placeholder="enter your password">
                            </label>
                        </div>
                        <br/><br/>
                        <button type="submit" class="btn btn-secondary">login</button>
                    </form>
                    <br/><br/>
                    <br/><br/><br/><br/><br/><br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>

                </div>
            </div>

        </div>

    </div>
{% endblock %}